tests/__pycache__/test_tarea.cpython-312-pytest-8.1.1.pyc
.vscode/settings.json
tests/__pycache__/test_eventos.cpython-312-pytest-8.1.1.pyc
tests/__pycache__/test_interfaz.cpython-312-pytest-8.1.1.pyc
tests/__pycache__/test_listaEventos.cpython-312-pytest-8.1.1.pyc
tests/__pycache__/test_listaTareas.cpython-312-pytest-8.1.1.pyc
hgt/alumnos/__pycache__/alumno.cpython-312.pyc
tests/test_alumno/__pycache__/test_alumno.cpython-312-pytest-8.1.1.pyc
