tests/__pycache__/test_tarea.cpython-312-pytest-8.1.1.pyc
.vscode/settings.json
tests/__pycache__/test_eventos.cpython-312-pytest-8.1.1.pyc
tests/__pycache__/test_interfaz.cpython-312-pytest-8.1.1.pyc
tests/__pycache__/test_listaEventos.cpython-312-pytest-8.1.1.pyc
tests/__pycache__/test_listaTareas.cpython-312-pytest-8.1.1.pyc
hgt/alumnos/__pycache__/alumno.cpython-312.pyc
tests/test_alumno/__pycache__/test_alumno.cpython-312-pytest-8.1.1.pyc
tests/test_alumno/__pycache__/test_listaalumnos.cpython-312-pytest-8.1.1.pyc
tests/test_alumno/__pycache__/test_fichero.cpython-312-pytest-8.1.1.pyc
hgt/alumnos/__pycache__/listaalumnos.cpython-312.pyc
hgt/__pycache__/tarea.cpython-312.pyc
hgt/__pycache__/listaTareas.cpython-312.pyc
tests_hgt/__pycache__/test_listaTareas.cpython-312-pytest-8.1.1.pyc
tests_hgt/test_alumno/__pycache__/test_listaalumnos.cpython-312-pytest-8.1.1.pyc
tests_hgt/test_alumno/__pycache__/test_archivo.cpython-312-pytest-8.1.1.pyc
tests_hgt/test_alumno/__pycache__/test_eventos.cpython-312-pytest-8.1.1.pyc
tests_hgt/test_alumno/__pycache__/test_interfaz.cpython-312-pytest-8.1.1.pyc
tests_hgt/test_alumno/__pycache__/test_listaEventos.cpython-312-pytest-8.1.1.pyc
tests_hgt/test_alumno/__pycache__/test_listaTareas.cpython-312-pytest-8.1.1.pyc
tests_hgt/test_alumno/__pycache__/test_tarea.cpython-312-pytest-8.1.1.pyc
tests_hgt/__pycache__/test_listaTareas.cpython-312-pytest-8.1.1.pyc
tests_hgt/__pycache__/test_listaTareas.cpython-312-pytest-8.1.1.pyc
tests_hgt/__pycache__/test_tarea.cpython-312-pytest-8.1.1.pyc
examen/__pycache__/persona.cpython-312.pyc
hgt/__pycache__/archivo.cpython-312.pyc
testsExamen/__pycache__/test_archivo.cpython-312-pytest-8.1.1.pyc
testsExamen/__pycache__/test_jugador.cpython-312-pytest-8.1.1.pyc
testsExamen/__pycache__/test_listaJugador.cpython-312-pytest-8.1.1.pyc
testsExamen/__pycache__/test_listaPersona.cpython-312-pytest-8.1.1.pyc
testsExamen/__pycache__/test_persona.cpython-312-pytest-8.1.1.pyc
hgt/__pycache__/archivo.cpython-312.pyc
examen/__pycache__/jugador.cpython-312.pyc
hgt/__pycache__/evento.cpython-312.pyc
textual2/__pycache__/footer.cpython-312.pyc
tests_hgt/__pycache__/test_evento.cpython-312-pytest-8.1.1.pyc
hgt/__pycache__/evento.cpython-312.pyc
